
*{
  padding: 0;margin: 0;box-sizing: border-box;
  
}

:root {
  --primary-green-color: #01543e;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
}

html, body {
  background-color: var(--primary-green-color);
}

.logo_lark_img {
  box-shadow: 1px 10px 40px black;
  transition: 0.3s ease-in-out;
}

.logo_lark img:hover {
  box-shadow: 1px 1px 19px 20px rgb(255, 255, 255);
  cursor: pointer;
}


.formSubmitBtn {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #000000;
  color: var(--primary-white-color);
  margin: 15px 0 10px 0;
}



.formSubmitBtn:hover {

  background-color: var(--primary-white-color);
  color: var(--primary-black-color);
}

@media (min-width: 200px) and (max-width: 540px) {
  .logo_lark {
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
  }
  
  .logo_lark img {
    height: 100%;
    width: 100%;
  }

  .bg_main {
    background: rgb(1,84,62) !important;
  background: linear-gradient(38deg, rgba(255,255,255,1) 45%, rgba(1,84,62,1) 45%) !important;
  }
} 